#openingDescription {
  position: absolute;
  left: 50%;
  top: 60%;
  width: 60vw;
  margin-left: -30vw;
  font-family: 'Roboto';font-size: 2vw; color: #2F2F2F;
  text-align: center;
}

#pastRecordsContainer {
  position: absolute;
  height: 100vh;
  width: 20vw;
  top: 100%;
  left: 15%;
  background-color: #99C9FF;
  border-radius: 5%;
  z-index: 6;
}

#titleOfContainer {
  position: relative;
  top: 3%;
  width: 100%;
  left: 50%;
  margin-left: -50%;
  text-align: center;
  font-family: 'Roboto';font-size: 3vw; color: #2F2F2F;
}

#containerSeperator {
  position: relative;
  width: 100%;
  height: 1%;
  background-color: #2F2F2F;
  top: 6%;
  left: 0%;
}

#scrollableContainer {
  position: relative;
  width: 100%;
  left: 0%;
  height: 80%;
  top: 8%;
  background-color: transparent;
  overflow: auto;
  max-height: 80%;
}

.element {
  height: 9%;
  width: 60%;
  text-align: center;
  margin-left: 20%;
  background-color: #66AEFF;
  font-family: 'Roboto';font-size: 1.5vw; color: #2F2F2F;
  border-radius: 50%;
  margin-top: 5%;
  line-height: 3vw;
}

#addButton {
  position: absolute;
  height: 15vh;
  width: 30vw;
  border-radius: 10%;
  left: 50%;
  margin-left: -15vw;
  top: 80%;
  background-color: #1DBF2D;
  text-align: center;
  font-family: 'Roboto';font-size: 3.7vw; color: white;
  line-height: 7vw;
}

#bottomBar {
	width: 100%;
	background-color: gray;
	height: 11vh;
	top: 230vh;
	position: absolute;
	z-index: 2;
}

#detailsContainer {
  position: absolute;
  height: 100vh;
  width: 60vw;
  z-index: 5;
  left: 20%;
  top: 100%;
  background-color: #CCE4FF;
  opacity: 0;
}

#detailsTitle {
  position: relative;
  top: 5%;
  left: 57%;
  font-family: 'Roboto';font-size: 3vw; color: #2F2F2F;
}

#chart {
  position: relative;
  top: 7%;
  left: 50%;
  width: 13vw;
  height: 13vw;
  border-radius: 50%;
  background-color: blue;
}

#detailsTable {
  position: relative;
  width: 30%;
  height: 30%;
  top: 10%;
  left: 25%;
  text-align: center;
  font-family: 'Roboto';font-size: 1.5vw; color: #2F2F2F;
}

#detailNotes {
  position: relative;
  top: -15%;
  left: 65%;
  width: 30%;
  height: 40%;
  font-family: 'Roboto';font-size: 1vw; color: #2F2F2F;
}

#rating {
  position: absolute;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background-color: green;
  bottom: 10%;
  left: 50%;
  font-family: 'Roboto';font-size: 3vw; color: white;
  text-align: center;
}
