#pageHeader {
	position: absolute;
	left: 20%;
	top: 20vh;
	font-family: 'Roboto';font-size: 2vw; color: #2F2F2F;
}

.paragraph {
	position: absolute;
	left: 20%;
	width: 37.25%;
	font-family: 'Roboto';font-size: 1vw; color: #2F2F2F;
	line-height: 3vh;
}

#paragraph1 {
	top: 27vh;
}

#paragraph2 {
	top: 44vh;
}

#paragraph3 {
	top: 58vh;
}

#video {
	top: 85vh;
	position: absolute;
	width: 35vw;
	height: 40vh;
	left: 20%;
}

#contentHead {
	position: absolute;
	top: 20vh;
	left: 65.7%;
	font-family: 'Roboto';font-size: 2vw; color: #2F2F2F;
	text-decoration: underline;
}

#contentContainer {
	position: absolute;
	top: 28vh;
	left: 58.25%;
	width: 25vw;
	height: 70vh;
	background-color: transparent;
}

.element {
	position: absolute;
	left: 5%;
	width: 90%;
	height: 10vh;
	background-color: transparent;
	border-bottom: 0.5vh solid;
	border-radius: 10%;
}

#element1 {
	top: 1vh;
}

#element2 {
	top: 14vh;
}

#element3 {
	top: 27vh;
}

#element4 {
	top: 40vh;
}

#element5 {
	top: 53vh;
}

#element6 {
	top: 66vh;
}

.elementName {
	position: absolute;
	font-family: 'Roboto';font-size: 1.5vw; color: #2F2F2F;
	text-align: center;
	width: 10vw;
}

#elementName1 {
	top: 20%;
	left: 20%;
}

#elementName2 {
	top: 20%;
	left: 20%;
}

#elementName3 {
	top: 10%;
	left: 20%;
	font-family: 'Roboto';font-size: 1.5vw; color: #2F2F2F;
}

#elementName4 {
	top: 10%;
	left: 20%;
	font-family: 'Roboto';font-size: 1.5vw; color: #2F2F2F;
}

#elementName5 {
	top: 20%;
	left: 20%;
	font-family: 'Roboto';font-size: 1.5vw; color: #2F2F2F;
}

#elementName6 {
	top: 20%;
	left: 20%;
	font-family: 'Roboto';font-size: 1.5vw; color: #2F2F2F;
}

.checkBox {
	position: absolute;
	top: 20%;
	height: 40%;
	width: 10%;
	left: 80%;
	border-style: solid;
	background-color: transparent;

}

#box1 {
	border-color: #1DBF2D;
}

#box2 {
	border-color: #007AFF;
}

#box3 {
	border-color: #1DBF2D;
}

#box4 {
	border-color: #007AFF;
}

#box5 {
	border-color: #1DBF2D;
}

#box6 {
	border-color: #007AFF;
}

#bottomBar {
	width: 100%;
	background-color: gray;
	height: 6vh;
	top: 150vh;
	position: absolute;
}

#taxesTick {
	position: absolute;
	background-image: url("tick.png");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;
	width: 6vh;
	height: 6vh;
	top: -50%;
	left: 0%;
	z-index: 11;
	opacity: 0;
}
