body {
    background-color: #F2F2F2;
    background-size: cover;
}

.headBanner {
    height: 10vh;
    width: 100%;
    clear: top;
    position: fixed;
    z-index: 100;
}

.headBannerIn {
    height: 100%;
    width: 100%;
    background-color: #007AFF;
    position: absolute;
    z-index: 2;
}

.dropdown-content {
  visibility: hidden;
  display: block;
  position: relative;
  background-color: #03CEA4;
  min-width: 160px;
  z-index: 1;
  top: 100%;
  width: 100%;
  height: 30vh;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  opacity: 0;
}

.dropdown {
  max-height: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
    animation: bannerFadeIn 0.25s linear forwards;
    visibility: visible;
    opacity: 1;
    z-index: -1;
    position: absolute;
    top: 100%;
}

.slideUp {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  margin-top: -10% !important;
}

.slideDown {
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  margin-top: 0% !important;
}

@keyframes bannerFadeIn {
  from {
    opacity: 0;

    transform: translateY(-300px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#innerSpace1 {
    position: absolute;
    height: 80%;
    width: 25%;
    background-color: transparent;
    top: 2%;
    left: 14%;
    border-right: 3px solid;

}

#innerSpace2 {
    position: absolute;
    height: 80%;
    width: 13%;
    left: 39%;
    background-color: transparent;
    top: 2%;
    border-right: 3px solid;
}

#innerSpace3 {
    position: absolute;
    height: 80%;
    width: 15%;
    left: 51%;
    background-color: transparent;
    top: 2%;
}

#innerSpace4 {
    position: absolute;
    height: 100%;
    width: 20%;
    left: 59.25%;
    background-color: transparent;
    top: 0%;
}

#coursesHead {
    position: absolute;
    font-family: 'Roboto';font-size: 2.5vw; color: white;
    top: 3%;
    left: 27%;
    text-decoration: underline;
}

#coursesList {
    position: absolute;
    font-family: 'Roboto';font-size: 1.3vw; color: white;
    top: 28%;
    left: 29%;
    font-weight: bold;
    line-height: 170%;
    cursor: pointer;
}

#coursesList li:hover {
  color: #007AFF;
  text-decoration: underline;
}

#toolsHead {
    text-align: center;
    position: absolute;
    font-family: 'Roboto';font-size: 2vw; color: white;
    width: 60%;
    height: 30%;
    top: 50%;
    left: 50%;
    margin-left: -30%;
    margin-top: -15%;
    cursor: pointer;
}

#toolsHead:hover {
  color: #007AFF;
  text-decoration: underline;
}

#articlesHead {
    position: absolute;
    font-family: 'Roboto';font-size: 2vw; color: white;
    top: 6%;
    left: 30%;
    text-decoration: underline;
}

* {
    padding: 0;
    margin: 0;
}

#logo {
    bottom: 10%;
    top: 10%;
    width: 4%;
    left: 20%;
    height: 80%;
    position: absolute;
    background-image: url("blue logo.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    display: inline-block;
    cursor: pointer;
}

#financeChoice {
    width: 9.8%;
    height: 10vh;
    top: 0%;
    bottom: 0%;
    left: 24.8%;
    display: inline-block;
    position: relative;
    font-family: 'Roboto';font-size: 2vw; color: white;
    background-color: transparent;
    border: none;
    z-index: 3;
    cursor: pointer;
}

#choice2 {
    width: 9.8%;
    height: 90%;
    top: 5%;
    bottom: 5%;
    left: 34.8%;
    display: inline-block;
    position: absolute;
    font-family: 'Roboto';font-size: 2vw; color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#choice3 {
    width: 9.8%;
    height: 90%;
    top: 5%;
    bottom: 5%;
    left: 44.8%;
    display: inline-block;
    position: absolute;
    font-family: 'Roboto';font-size: 2vw; color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#choice4 {
    width: 9.8%;
    height: 90%;
    top: 5%;
    bottom: 5%;
    left: 54.8%;
    display: inline-block;
    position: absolute;
    font-family: 'Roboto';font-size: 1.7vw; color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#choice5 {
    width: 9.8%;
    height: 90%;
    top: 5%;
    bottom: 5%;
    left: 64.8%;
    display: inline-block;
    position: absolute;
    font-family: 'Roboto';font-size: 1.7vw; color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#loginButton {
    width: 5vh;
    height: 5vh;
    top: 20%;
    bottom: 20%;
    left: 75%;
    display: inline-block;
    position: absolute;
    background-image: url("google login.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
}

#tab1 {
    width: 4.9%;
    height: 10%;
    top: 90%;
    left: 27.25%;
    display: inline-block;
    position: absolute;
    background-color: #03CEA4;
    z-index: 0;
}

#tab2 {
    width: 4.9%;
    height: 10%;
    top: 90%;
    left: 37.25%;
    display: inline-block;
    position: absolute;
    background-color: #03CEA4;
}

#tab3 {
    width: 4.9%;
    height: 10%;
    top: 90%;
    left: 47.25%;
    display: inline-block;
    position: absolute;
    background-color: #03CEA4;
}

#tab4 {
    width: 4.9%;
    height: 10%;
    top: 90%;
    left: 57.25%;
    display: inline-block;
    position: absolute;
    background-color: #03CEA4;
}

#tab5 {
    width: 4.9%;
    height: 10%;
    top: 90%;
    left: 67.25%;
    display: inline-block;
    position: absolute;
    background-color: #03CEA4;
}
