#courseTitle {
	position: absolute;
	top: 20%;
	left: 20%;
	font-family: 'Roboto';font-size: 4vw; color: #2F2F2F;
}

#tickBox {
	position: absolute;
	width: 3vw;
	height: 3vw;
	left: 35%;
	top: 21%;
	background-color: transparent;
	border-style: solid;
	border-width: 5px;
	border-color: #1DBF2D;
}

hr.rounded {
  border-top: 4px solid #bbb;
  border-radius: 5px;
  margin-top: 13%;
  width: 70%;
  margin-left: 15%;
  border-color: #2F2F2F;
}

#sectionTitle {
	position: absolute;
	left: 20%;
	top: 45%;
	font-family: 'Roboto';font-size: 3vw; color: #2F2F2F;
}

.paragraph {
	font-family: 'Roboto';font-size: 1.5vw; color: #2F2F2F;
	position: absolute;
	left: 20%;
	width: 60%;
	font-weight: bold;
	line-height: 3.5vh;
}

#p1 {
	top: 55%;
	width: 40%;
	/*top = pervTop + 3 + (lineNum * 3.5)*/
}

#p2 {
	top: 65%;
	width: 40%;
}

#p3 {
	top: 100%;
}

#p4 {
	top: 113.5%;
}

#p5 {
	top: 134%;
}

#googleQuote {
	position: absolute;
	top: 80%;
	left: 25%;
	width: 30%;
	font-family: 'Roboto';font-size: 1.5vw; color: #2F2F2F;
	font-style: italic;
}

#leftQuote {
	position: absolute;
	top: 80%;
	left:20%;
	background-image: url("leftQuote.png");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;
	width: 3vw;
	height: 3vw;
}

#rightQuote {
	position: absolute;
	top: 90%;
	left:55%;
	background-image: url("rightQuote.png");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;
	width: 3vw;
	height: 3vw;
}

#incomeTax {
	position: absolute;
	left: 20%;
	top: 145%;
	font-family: 'Roboto';font-size: 2vw; color: #2F2F2F;
}

#p6 {
	top: 155%;
}

#p7 {
	top: 165%;
}

#p8 {
	top: 175%;
}

#p9 {
	top: 215%;
}

#sadImg {
	position: absolute;
	top: 185%;
	left:33%;
	background-image: url("sadFace.png");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;
	width: 12vw;
	height: 12vw;
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 45%;
  position: absolute;
  left: 20%;
  top: 240%;
}

#p10 {
	top: 265%;
}

#p11 {
	top: 275%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

#NIC {
	position: absolute;
	left: 20%;
	top: 295%;
	font-family: 'Roboto';font-size: 2vw; color: #2F2F2F;
}

#p12 {
	top: 305%;
}

#p13 {
	top: 380%;
}

#p14 {
	top: 390%;
}

#p15 {
	top: 400%;
}

#p16 {
	top: 420.5%;
}

#hungryPic {
	position: absolute;
	top: 320%;
	left:33%;
	background-image: url("hungry.jpg");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;
	width: 17vw;
	height: 50vh;
}

#CGT {
	position: absolute;
	left: 20%;
	top: 433%;
	font-family: 'Roboto';font-size: 2vw; color: #2F2F2F;
}

#p17 {
	top: 440%;
}

#p18 {
	top: 450%;
}

#p19 {
	top: 463.5%;
}

#p20 {
	top: 477%;
}

#contentContainer {
	position: absolute;
	top: 40%;
	left: 63%;
	width: 20vw;
	height: 50vh;
	background-color: transparent;
}

.element {
	position: absolute;
	left: 5%;
	width: 90%;
	height: 10vh;
	background-color: transparent;
	border-bottom: 0.5vh solid;
	border-radius: 10%;
}

#element1 {
	top: 1vh;
}

#element2 {
	top: 14vh;
}

#element3 {
	top: 27vh;
}

.elementName {
	position: absolute;
	font-family: 'Roboto';font-size: 1.5vw; color: #2F2F2F;
	text-align: center;
	width: 10vw;
}

#elementName1 {
	top: 20%;
	left: 15%;
}

#elementName2 {
	top: 20%;
	left: 15%;
}

#elementName3 {
	top: 20%;
	left: 15%;
	font-family: 'Roboto';font-size: 1.5vw; color: #2F2F2F;
	width: 10vw;
}

.checkBox {
	position: absolute;
	top: 20%;
	height: 2vw;
	width: 2vw;
	left: 80%;
	border-style: solid;
	background-color: transparent;
	z-index: 10;

}

#box1 {
	border-color: #1DBF2D;
}

#box2 {
	border-color: #007AFF;
}

#box3 {
	border-color: #1DBF2D;
}

#bottomBar {
	width: 100%;
	background-color: gray;
	height: 6vh;
	top: 530vh;
	position: absolute;
}

.tick {
	position: absolute;
	background-image: url("tick.png");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;
	width: 7vh;
	height: 7vh;
	top: 0%;
	left: 80%;
	z-index: 11;
}

#tick1 {
	opacity: 0;
}

#tick2 {
	opacity: 0;
}

#tick3 {
	opacity: 0;
}

#nextButton {
	position: absolute;
	background-color: #E56F0E;
	width: 15vw;
	height: 10vh;
	top: 500vh;
	left: 50%;
	margin-left: -7.5vw;
	z-index: 11;
	border-radius: 15%;
	text-align: center;
	font-family: 'Roboto';font-size: 4vw; color: white;
}

#overallTick{
	position: absolute;
	background-image: url("tick.png");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;
	width: 10vh;
	height: 10vh;
	top: -50%;
	left: 0%;
	z-index: 11;
	opacity: 0;
}
