#title {
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: 'Roboto';font-size: 7vw; color: #2F2F2F;
  top: 60%;
  text-decoration: underline;
  left: 50%;
  margin-left: -50%;
}

#overviewContent {
  position: absolute;
  width: 60%;
  left: 50%;
  top: 85%;
  margin-left: -30%;
  font-family: 'Roboto';font-size: 2vw; color: #2F2F2F;
  text-align: center;
}

#graphs {
  position: absolute;
  width: 60%;
  height: 80vh;
  top: 150%;
  left: 50%;
  margin-left: -30%;
  background-image: url("3975498.jpg");
  background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;
}

#bottomBar {
	width: 100%;
	background-color: gray;
	height: 6vh;
	top: 285vh;
	position: absolute;
}

#pageCover {
  width: 100%;
  min-height: 285vh;
  background-color: gray;
  opacity: 0;
  position: absolute;
  top: 0%;
  left: 0%;
}
