#seperator {
	width: 10px;
	height: 70%;
	position: absolute;
	left: 50%;
	top: 20%;
	background-color: #2F2F2F;
	border-radius: 30%;
}

.header {
	font-family: 'Roboto';font-size: 6vw; color: #2F2F2F;
	position: absolute;
	text-decoration: underline;
}

#header1 {
	top: 15%;
	left: 22%;
}

#header2 {
	top: 15%;
	left: 60%;
}

.description {
	text-align: center;
	font-family: 'Roboto';font-size: 1.5vw; color: #2F2F2F;
	position: absolute;
}

#description1 {
	top: 30%;
	left: 23.5%;
}

#description2 {
	top: 30%;
	left: 60.5%;
}

.inputBox{
	width: 16vw;
	height: 6vh;
	position: absolute;
	text-align: left;
	text-indent: 30px;
	font-family: 'Roboto';font-size: 1.5vw;
}

#emailIn {
	top: 40%;
	left: 22.5%;
}

#passwordIn {
	top: 50%;
	left: 22.5%;
}

.submitButton {
	position: absolute;
	width: 10vw;
	height: 8vh;
	border-radius: 15%;
	background-color: #1DBF2D;
	text-align: center;
	font-family: 'Roboto';font-size: 2vw; color: white;
	border-color: transparent;
}

#logInButton {
	top: 60%;
	left: 25.5%;
}

#userName {
	top: 40%;
	left: 61.5%;
}

#emailUp {
	top: 50%;
	left: 61.5%;
}

#confirmEmailUp {
	top: 60%;
	left: 61.5%;
}

#passwordUp {
	top: 70%;
	left: 61.5%;
}

#signUpButton {
	top: 80%;
	left: 64.5%;
}

#coin {
	z-index: 1;
	position: absolute;
	background-image: url("coin.png");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;
	top: 80vh;
	left: 20%;
	width: 15vw;
	height: 15vw;
}

#bottomBar {
	width: 100%;
	background-color: gray;
	height: 11vh;
	top: 100vh;
	position: absolute;
	z-index: 2;
}
