#userNameTab {
  position: absolute;
  left: 45%;
  font-family: 'Roboto';font-size: 4vw; color: #2F2F2F;
  top: 30%;
  text-align: center;
}

#emailTab {
  position: absolute;
  left: 45%;
  font-family: 'Roboto';font-size: 4vw; color: #2F2F2F;
  top: 45%;
  text-align: center;
}

#profilePic {
  position: absolute;
	left: 20%;
	width: 15vw;
	height: 15vw;
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;
	border-radius: 50%;
	top: 25%;
  border-style: solid;
  background-image: url("avatar.png");
  border-width: 10px;
  border-color: #EF6C02;
}

#signOutButton {
  position: absolute;
	left: 21%;
	width: 15vw;
	height: 5vw;
	top: 70%;
  background-color: #EF6C02;
  text-align: center;
  font-family: 'Roboto';font-size: 4vw; color: white;
  border-radius: 10%;
}
