#topWelcome {

	position: relative;
	width: 100%;
	height: 90vh;
	background-color: #FF8500;
	text-align: center;
	box-shadow: 0 11px 11px -6px black;
	z-index: 5;
}

#topWelcomeWriting {
	text-align: center;
	font-family: 'Arial';
	font-size: calc(12px + 4vw);
	color: white;
	position: relative;
	top: 30%;
	left: 50%;
	width: 50vw;
	margin-left: -25vw;
	height: 0%;
	font-weight: bold;
  font-style: italic;

}

#bottomSemi {
	width: 8vw;
	height: 4vw;
	position: relative;
	top: 100%;
	left: 50%;
	margin-left: -4vw;
	border-bottom-left-radius: 8vw;
  border-bottom-right-radius: 8vw;
	background-color: #FF8500;
	z-index: 2;
	box-shadow: 0 11px 11px -6px black;
}

#topSemi {
	position: relative;
	top: 100%;
	left: 50%;
	margin-left: -4vw;
	height: 4vw;
  width: 8vw;
	border-top-left-radius: 8vw;
  border-top-right-radius: 8vw;
	background-color: #F2F2F2;
	margin-top: -4vw;
	z-index: 2;
}

#pageHeader {
	position: relative;
	margin-left: 5%;
	margin-top: 10%;
	font-family: 'Arial';
  font-size: calc(12px + 2.5vw);
  color: #2F2F2F;
	z-index: 2;
	font-weight: bold;
  margin-bottom: 5%;
}

.paragraph {
  display: block;
	position: relative;
	left: 5%;
	max-width: 80%;
	font-family: "Arial";
	font-size: calc(12px + 0.5vw);
	color: #2F2F2F;
	line-height: 30px;
	z-index: 1;
}

#featuresTitle {
	position: relative;
	left: 5%;
	width: 37.25%;
	font-family: 'Arial';
  font-size: calc(12px + 2vw);
  color: #2F2F2F;
	z-index: 2;
  padding-top: 5%;
}

#featuresList {
	padding-top: 5%;
	position: relative;
	left: 15%;
	width: 80%;
	font-family: 'Arial';
  font-size: calc(12px + 0.5vw);
  color: #2F2F2F;
	list-style-type: square;
	font-weight: bold;
	list-style-position: outside;
	line-height: 5vh;
	z-index: 2;
}

#chartImg {
	position: relative;
  margin-top: 5%;
	left: 50%;
	width: 30vh;
	height: 30vh;
  margin-left: -15vh;
	background-image: url("pie.png");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;
	z-index: 2;
  background-color: gray;
  margin-bottom: 5%;
}

#paragraph6 {
  padding-bottom: 10%;
}

#whyTitle {
	position: relative;
	left: 5%;
	width: 80%;
	font-family: 'Arial';
  font-size: calc(12px + 2vw);
  color: #2F2F2F;
	z-index: 2;
  padding-top: 5%;
  padding-bottom: 5%;
}

#bottomBar {
	width: 100%;
	background-color: gray;
	height: 10vh;
	position: relative;
	z-index: 2;

}

.promoContainer {
	position: relative;
	height: 50vh;
	width: 15vw;
	background-color: #F2F2F2;
	border-radius: 10%;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  margin-top: 20%;
}

#promoContainer1 {

}

#promoContainer2 {

}

.promoHeader {
	position: relative;
	height: 25%;
	width: 100%;
	background-color: #007AFF;
	border-radius: 10%;
}

.promoTitle {
	position: relative;
	text-align: center;
	width: 100%;
	height: 50%;
	top: 30%;
	font-family: 'Roboto';font-size: 2vw; color: white;
}

.promoContent {
	position: relative;
	background-color: transparent;
	height: 75%;
	width: 100%;
	top: 0%;
	left: 0%;
	border-radius: 10%;
}

.promoDescription {
	font-family: 'Roboto';font-size: 1vw; color: #2F2F2F;
	position: relative;
	top: 5%;
	width: 80%;
	left: 10%;
	text-align: center;
}

.promoPic {
	position: relative;
	top: 15%;
	height: 8vw;
	width: 8vw;
	left: 50%;
	margin-left: -4vw;
	background-color: transparent;
}

#promoPic1 {
	background-image: url("money (1).png");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;
}

#promoPic2 {
	background-image: url("money.png");
	background-position: center; /* Center the image */
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;
}

.viewButton {
	bottom: -20%;
	position: relative;
	left: 10%;
	width: 80%;
	height: 5vh;
	background-color: #1DBF2D;
	font-family: 'Roboto';font-size: 2vw; color: white;
	text-align: center;
	border-radius: 10%;
	cursor: pointer;
}

.viewButton:hover {
	-webkit-box-shadow:0 4px 8px rgba(0, 0, 0, 0.3), 0 0 80px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 4px 8px rgba(0, 0, 0, 0.3), 0 0 80px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 4px 8px rgba(0, 0, 0, 0.3), 0 0 80px rgba(0, 0, 0, 0.1) inset;
}

#secondaryHeader {
	width: 100%;
	position: relative;
	height: 10%;
	background-color: #007AFF;
	left: 0%;
  height: 80px;
}

#secondaryHeaderBlock {
	position: relative;
	width: 51%;
	left: 15%;
  height: 80px;
	background-color: transparent;
}

.secondaryHeaderElement {
  display: inline;
	font-family: 'Arial';
  font-size: calc(12px + 1vw);
  color: white;
	cursor: pointer;
  z-index: 10;
  position: relative;
  padding-left: 30px;
	background-color: transparent;
  top: 25%;
}

#tempTitle {
	position: relative;
	left: 5%;
	font-family: 'Roboto';font-size: 2vw; color: #2F2F2F;
}

#tempParagraph {
  margin-top: 5%;
  margin-bottom: 10%;
}

* {
  box-sizing: border-box;
}

.col-1 {
  width: 15%;
  float: left;
  padding: 15px;
}

.col-2 {
	width: 50%;
	background-color: #F2F2F2;
	z-index: -5;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  border: none;
  width: 50%;
  float: left;
  padding: 15px;
}

.col-3 {
  width: 35%;
  float: left;
  padding: 15px;
}

.col-4 {
  width: 100%;
  padding: 0px;
  border: none;
  float: left;
}

.col-5 {
  width: 15%;
  float: left;
  padding: 15px;
}

.col-6 {
  width: 50%;
	background-color: #F2F2F2;
	z-index: -5;
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  border: none;
  width: 50%;
  float: left;
}

.col-7 {
  width: 35%;
  float: left;
  padding: 15px;
}

.col-8 {
  width: 100%;
  border: none;
  padding: 0px;
  float: left;
}

.row {
  position: relative;
}

[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .col-1 {width: 15%;}
  .col-2 {width: 50%;}
  .col-3 {width: 35%;}
  .col-4 {width: 100%;}
  .col-5 {width: 15%;}
  .col-6 {width: 50%;}
  .col-7 {width: 35%;}
  .col-8 {width: 100%;}
}

@media only screen and (max-width: 768px) {
  .col-3 {display: none;}
}
